.widget-f1-race-schedule {
    overflow: hidden;
    display: flex;
}

.widget-f1-next-race {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.widget-f1-race-schedule-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    // padding: 0 0 0 1px;
    list-style-type: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100%;
    flex: 1 0;
}

.widget-f1-race-schedule__item {
    $d-race-block-width: 15%;

    width: $d-race-block-width;
    flex: 0 0 $d-race-block-width;
}
