.widget-f1-race-schedule {
    overflow: hidden;
    display: flex;
    padding: 16px 0;
}

.widget-f1-next-race {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid #CCC;
    text-align: center;
    width: 15%;
    font-size: 24px;
}

.widget-f1-next-race__country {
    font-size: 32px;
}

.widget-f1-next-race__location {
    margin: 18px 0;
}

.widget-f1-next-race__location-name {
    font-size: 16px;
}

.widget-f1-next-race__count {
    font-size: 56px;
}

.widget-f1-race-schedule-list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    list-style-type: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 100%;
    flex: 1 0;
}

.widget-f1-race-schedule__item {
    $d-race-block-width: 25%;

    width: $d-race-block-width;
    flex: 0 0 $d-race-block-width;
    text-align: center;

    &:last-child {
        margin-right: 16px;
    }
}

.widget-f1-race-schedule__circuit-icon {
    max-width: 70%;
    height: auto;
}

.widget-f1-race-schedule__circuit-info {
    margin-bottom: 24px;
    text-align: left;
    // tablet
    // min-height: 120px;

    min-height: 70px;
}
