.widget-weather-forecast,
.widget-weather-forecast__forecast {
    display: flex;
    width: 100%;
}

.widget-weather-forecast__forecast {
    list-style: none;
}

.widget-weather-forecast__forecast-item {
    flex: 1;
    justify-items: center;
    text-align: center;
}

.widget-weather-forecast__forest-info {
}

.widget-weather-forcecast__condition {
    margin-bottom: 12px;
}
