.widget-weather-forecast,
.widget-weather-forecast__forecast {
    display: flex;
    width: 100%;
}

.widget-weather-forecast {
    padding: 16px 0;
}

.widget-weather-forecast__forecast {
    list-style: none;
}

.widget-weather-forecast__forecast-item {
    flex: 1;
    justify-items: center;
}

.widget-weather-forecast__forecast-info {
    display: flex;
}

.widget-weather-forecast__forecast-details {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;

    & > * {
        width: 100%;
    }
}

.widget-weather-forecast__forecast-condition {
    line-height: 0;
}

.widget-weather-forecast__forecast-date {
    margin-bottom: 16px;
}
